<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-information">
      <div class="footer-content">
        <div class="footer-header">
          <img
            alt="image"
            src="/playground_assets/web%20three%20innovations%20logo-d1-200h.png"
            class="footer-image"
          />
          <p class="footer-text">
            <span>
              Web Three Innovations is a leading Consultant, System Integrator,
              and Investor in the Web3 industry. We are exclusively focused on
              bringing Web3 enabled technologies into the traditional business
              ecosystem.
            </span>
          </p>
        </div>
      </div>
      <span class="footer-copyright">
        <span>©2023 Web Three Innovations. All Rights Reserved.</span>
      </span>
    </div>
    <div class="footer-links">
      <div class="footer-column">
        <a href="index.html" class="footer-text1 link"><span>About</span></a>
        <a href="index.html" class="footer-text2 link"><span>Content</span></a>
      </div>
      <div class="footer-column1">
        <a
          href="https://www.linkedin.com/company/web-three-innovations/about/"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-text3 link"
        >
          <span>Linkedin</span>
        </a>
        <span class="link"><span>Twitter</span></span>
      </div>
    </div>
  </footer>
</div>
